


body {background:#f4f4f4;}
.project_wrap {width:100%; max-width:1920px; margin:0 auto; overflow:hidden; position:relative;}

.project_wrap .nav_wrap {background:rgba(218, 218, 218, .2); width:100%; height:6.5vh;/*60px*/ max-height:60px; position:relative; top:0;}
.project_wrap .nav_wrap .back {position:absolute; top:50%; transform:translateY(-50%); left:1.5625vw;/*30px*/ cursor:pointer;}
.project_wrap .nav_wrap .top_logo {position:absolute; top:50%; left:50%; transform:translate3d(-50%, -50%, 0); width:5.2083vw;/*100px*/ max-width:100px;}

.project_wrap .content_wrap {width:52.083vw;/*1000px*/ max-width:1000px; margin:10.881vh auto;/*100px auto*/}
.project_wrap .content_wrap .title {font-weight:700; font-size:1.770vw;/*34px*/ text-align:center; color:#1E869F;}

.project_wrap .content_wrap .form_wrap {margin-top:5.372vh;/*50px*/}
.project_wrap .content_wrap .form_wrap .block_title {font-weig	ht:600; font-size:1.25vw;/*24px*/ color:#1E869F;}

.project_wrap .content_wrap .form_wrap .input_wrap {margin-top:0.78125vw;/*15px*/ display:table; width:100%;}
.project_wrap .content_wrap .form_wrap .input_wrap.first {margin-top:0;}
.project_wrap .content_wrap .form_wrap .input_wrap label {width:100%; font-weight:700; font-size:1.041vw;/*20px*/ color:#676767;}
.project_wrap .content_wrap .form_wrap .input_wrap input {width:100%; height:55px; padding:0.78125vw;/*15px*/ background:#FFFFFF; border:2px solid #B9B9B9; border-radius:0.416vw;/*8px*/ color:#686868; font-size:1.041vw;/*20px*/}
.project_wrap .content_wrap .form_wrap .input_wrap input:focus {border:2px solid #1E869F; outline:#1E869F;}
.project_wrap .content_wrap .form_wrap .input_wrap input::placeholder {color:#8A8A8A;}

.project_wrap .content_wrap .form_wrap .input_wrap .duplication_input {width:calc(100% - 150px); margin-right:10px; float:left;}
.project_wrap .content_wrap .form_wrap .input_wrap .duplication_btn {width:140px; height:55px; float:right; background:#1E869F; color:#fff; border-radius:0.416vw;/*8px*/ font-size:1.041vw;/*20px*/ padding:0; font-weight:700;}
.project_wrap .content_wrap .form_wrap .input_wrap .duplication_btn:hover {background:#1E869F;}
.project_wrap .content_wrap .form_wrap .input_wrap .duplication_btn:focus {outline:none;}

.project_wrap .content_wrap .form_wrap .select_wrap .warning {font-size:0.9375vw;/*18px*/ color:#FF3838; margin-top:0.260vw;/*5px*/}

.project_wrap .content_wrap .form_wrap .input_wrap .certification_box1 {display:table; width:100%;}
.project_wrap .content_wrap .form_wrap .input_wrap .certification_box1 input {width:calc(100% - 150px); margin-right:10px; float:left;}
.project_wrap .content_wrap .form_wrap .input_wrap .certification_box1 .btn {width:140px; height:55px; float:right; background:#1E869F; color:#fff; border-radius:0.416vw;/*8px*/ font-size:1.041vw;/*20px*/ padding:0; font-weight:700;}
.project_wrap .content_wrap .form_wrap .input_wrap .certification_box1 .btn:hover {background:#1E869F;}
.project_wrap .content_wrap .form_wrap .input_wrap .certification_box1 .btn:focus {outline:none;}

.project_wrap .content_wrap .form_wrap .input_wrap .certification_box2 {display:table; width:100%; margin-top:10px;}
.project_wrap .content_wrap .form_wrap .input_wrap .certification_box2 input {width:calc(100% - 150px); margin-right:10px; float:left;}
.project_wrap .content_wrap .form_wrap .input_wrap .certification_box2 .btn {width:140px; height:55px; float:right; background:#1E869F; color:#fff; border-radius:0.416vw;/*8px*/ font-size:1.041vw;/*20px*/ padding:0;}
.project_wrap .content_wrap .form_wrap .input_wrap .certification_box2 .btn:hover {background:#1E869F;}
.project_wrap .content_wrap .form_wrap .input_wrap .certification_box2 .btn:focus {outline:none;}

.project_wrap .content_wrap .form_wrap .input_wrap .certification_time {font-weight:500; font-size:0.9375vw;/*18px*/ color:#1E869F;}

.project_wrap .content_wrap .form_wrap .input_wrap .warning {font-size:0.9375vw;/*18px*/ color:#FF3838; margin-top:0.260vw;/*5px*/}

.project_wrap .content_wrap .form_wrap .select_wrap {margin-top:0.78125vw;/*15px*/}
.project_wrap .content_wrap .form_wrap .select_wrap label {width:100%; font-weight:700; font-size:1.041vw;/*20px*/ color:#676767;}
.project_wrap .content_wrap .form_wrap .select_wrap .select_bg {background:#fff; border-radius:0.416vw;/*8px*/}
.project_wrap .content_wrap .form_wrap .select_wrap .select_bg select {width:100%; height:55px; padding:0 0.78125vw;/*15px*/ background:#FFFFFF; border:solid 2px #B9B9B9; border-radius:0.416vw;/*8px*/; background:url(/image/web/select_arrow.svg) no-repeat 98% 55%/20px auto; color:#8A8A8A; font-size:1.041vw;/*20px*/}
.project_wrap .content_wrap .form_wrap .select_wrap .select_bg select:focus {border:solid 2px #1E869F; outline:#1E869F;}


select {-webkit-appearance:none; /* for chrome */ -moz-appearance:none; /*for firefox*/ appearance:none;}
select::-ms-expand {display:none;/*for IE10,11*/}

.project_wrap .content_wrap .button_wrap {display:table; margin:5.372vh auto 0;/*50px auto 0*/}
.project_wrap .content_wrap .button_wrap .left_btn {width:150px; height:50px; background:#C9CFD8; border-radius:0.416vw;/*8px*/ margin-right:0.520vw;/*10px*/ font-weight:600; font-size:1.041vw;/*20px*/ text-align:center; border:none; color:#FFFFFF; padding:0; line-height:unset;}
.project_wrap .content_wrap .button_wrap .left_btn:hover {background:#B2B7BE;}
.project_wrap .content_wrap .button_wrap .left_btn:focus {outline:none;}
.project_wrap .content_wrap .button_wrap .right_btn {width:150px; height:50px; background:#1E869F; border-radius:0.416vw;/*8px*/ margin-left:0.520vw;/*10px*/ font-weight:600; font-size:1.041vw;/*20px*/ text-align:center; border:none; color:#FFFFFF; padding:0; line-height:unset;}
.project_wrap .content_wrap .button_wrap .right_btn:hover {background:#1E869F;}
.project_wrap .content_wrap .button_wrap .right_btn:focus {outline:none;}













/*반응형 View*/
@media only screen and (min-width:1921px) {
	.project_wrap .nav_wrap .back {left:30px;}
	
	.project_wrap .content_wrap {margin:100px auto;}
	.project_wrap .content_wrap .title {font-size:34px;}
	
	.project_wrap .content_wrap .form_wrap {margin-top:50px;}
	.project_wrap .content_wrap .form_wrap .block_title {font-size:24px;}
	
	.project_wrap .content_wrap .form_wrap .input_wrap {margin-top:15px;}
	.project_wrap .content_wrap .form_wrap .input_wrap label {font-size:20px;}
	.project_wrap .content_wrap .form_wrap .input_wrap input {padding:15px; border-radius:8px; font-size:20px;}
	
	.project_wrap .content_wrap .form_wrap .input_wrap .duplication_btn {border-radius:8px; font-size:20px;}
	
	.project_wrap .content_wrap .form_wrap .select_wrap .warning {font-size:18px; margin-top:5px;}
	
	.project_wrap .content_wrap .form_wrap .input_wrap .certification_box1 .btn {border-radius:8px; font-size:20px;}
	
	.project_wrap .content_wrap .form_wrap .input_wrap .certification_box2 .btn {border-radius:8px; font-size:20px;}
	
	.project_wrap .content_wrap .form_wrap .input_wrap .certification_time {font-size:18px;}
	
	.project_wrap .content_wrap .form_wrap .input_wrap .warning {font-size:18px; margin-top:5px;}
	
	.project_wrap .content_wrap .form_wrap .select_wrap {margin-top:15px;}
	.project_wrap .content_wrap .form_wrap .select_wrap label {font-size:20px;}
	.project_wrap .content_wrap .form_wrap .select_wrap .select_bg {border-radius:8px;}
	.project_wrap .content_wrap .form_wrap .select_wrap .select_bg select {padding:0 15px; border-radius:8px; font-size:20px;}
	
	.project_wrap .content_wrap .button_wrap {margin:50px auto 0;}
	.project_wrap .content_wrap .button_wrap .left_btn {border-radius:8px; margin-right:10px; font-size:20px;}
	.project_wrap .content_wrap .button_wrap .right_btn {border-radius:8px; margin-left:10px; font-size:20px;}
}

@media only screen and (max-width:1080px) {
	.project_wrap .content_wrap { width:80%; margin:40px auto; }
	.project_wrap .content_wrap .title { font-size:20px; }
	.project_wrap .content_wrap .form_wrap .block_title { font-size:16px; }
	.project_wrap .content_wrap .form_wrap .input_wrap { margin-top:20px; }
	.project_wrap .content_wrap .form_wrap .input_wrap label { font-size:14px; }
	.project_wrap .content_wrap .form_wrap .input_wrap input { height:45px; font-size:14px; }
	.project_wrap .content_wrap .form_wrap .input_wrap .duplication_btn { font-size:14px; height:45px; }
	.project_wrap .content_wrap .form_wrap .input_wrap .certification_box1 .btn { font-size:14px; height:45px; }
	.project_wrap .content_wrap .form_wrap .select_wrap { margin-top:20px; }
	.project_wrap .content_wrap .form_wrap .select_wrap label { font-size:14px; }
	.project_wrap .content_wrap .form_wrap .select_wrap .select_bg select { font-size:14px; height:45px; }
	.project_wrap .content_wrap .button_wrap .right_btn { font-size:14px; height:45px; }
	.project_wrap .content_wrap .button_wrap .left_btn { font-size:14px; height:45px; }
}


@media only screen and (max-width:768px) {
	.project_wrap .content_wrap .title { font-size:18px; }
	.project_wrap .content_wrap .form_wrap { margin-top:30px; }
	.project_wrap .content_wrap .form_wrap .input_wrap { margin-top:10px; }
	.project_wrap .content_wrap .form_wrap .input_wrap input { height:40px; }
	.project_wrap .content_wrap .form_wrap .input_wrap .duplication_btn { height:40px; }
	.project_wrap .content_wrap .form_wrap .input_wrap .certification_box1 .btn { height:40px; }
	.project_wrap .content_wrap .form_wrap .select_wrap { margin-top:10px; }
	.project_wrap .content_wrap .form_wrap .select_wrap .select_bg select { height:40px; }
	.project_wrap .content_wrap .button_wrap { margin-top:30px; }
	.project_wrap .content_wrap .button_wrap .right_btn { width:120px; height:40px; }
	.project_wrap .content_wrap .button_wrap .left_btn { width:120px; height:40px; }
}