


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; text-shadow:none; color:#404040;
}
html {overflow-y:scroll;}
body {font-family:"Noto Sans KR", sans-serif; background:#F5F7FA;}
a {color:#494E53; cursor:pointer !important;}
a:hover, a:focus {color:#494E53; text-decoration:none;}
ul {padding:0; margin:0; list-style:none;}
p {margin:0;}
button {padding:0 15px; line-height:36px; border:none; font-size:14px;}
button:focus{border:none; outline:none;}
/* input[type=checkbox], input[type=radio] {margin:0; display:none;} */
:focus {outline:unset;}






/*반응형 View*/
@media only screen and (max-width:1500px) {
}

@media only screen and (max-width:1280px) {
    button { padding:0 10px; line-height:32px; font-size:13px; }
}

@media only screen and (max-width:1080px) {

}