* {
    font-family: 'Wanted Sans', sans-serif;
}

.project_wrap { 
    width:100%;
    min-height:100vh;
    margin:0 auto;
    background-color: #F6F6F6;
}
.project_wrap .header_section {
    height:80px;
    background:#fff;
    display: flex;
    position: fixed;
    width:100%;
    z-index: 1001; /* 2번째로 큰 z-index (좌측, 상단) */
}
.project_wrap .header_section .header_logo{
    width:368px;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding:0 30px;
    border-right:1px solid #EEE;
    border-bottom: 1px solid #EEE;
}
.project_wrap .header_section .header_logo img{
    width:160px;
}
.project_wrap .header_section .header_content {
    flex: 1;
    height:100%;
    display:flex;
    position:relative;
    align-items: center;
    justify-content: space-between;
    padding:0 2% 0 11px;
    border-bottom: 1px solid #EEE;
}
/*header_left*/
.project_wrap .header_section .header_content .header_left {
    float:left;
}
.project_wrap .header_section .header_content .header_left ul li.active {
    position: relative;
}
.project_wrap .header_section .header_content .header_left ul li.active::after{
    position: absolute;
    content: '';
    bottom:10px;
    left:49%;
    transform: translateX(-50%);
    width:70%;
    height:3px;
    background-color: #000;
}
.project_wrap .header_section .header_content .header_left ul li > a:hover{
    background-color: unset !important
}

.project_wrap .header_section .header_content .header_left .BtnArticle1 img{width:6.875vw;max-width: 132px;}
.project_wrap .header_section .header_content .header_left .BtnArticle2 img{width:6.77vw;max-width: 130px;}
.project_wrap .header_section .header_content .header_left .BtnArticle3 img{width:4.7395vw;max-width: 91px;}
.project_wrap .header_section .header_content .header_left .BtnArticle4 img{width:3.8vw;max-width: 73px;}
/*header_center*/
.project_wrap .header_section .header_content .header_center {
    position:absolute;
    top:0;
    left:320px;
}
.project_wrap .header_section .header_content .header_center p {
    font-size:16px;
    font-weight:700;
    line-height:80px;
}
.project_wrap .header_section .header_content .header_center p img {
    width:18px;
    margin: -3px 5px 0 0;
}
/*header_right*/
.project_wrap .header_section .header_content .header_right {
    float:right;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.project_wrap .header_section .header_content .header_right > span{
    font-weight: 400;
    color: #B5B5B5;
    font-size: 14px;
    line-height: 100%; /* 14px */
    letter-spacing: -0.14px;
    margin-right:21px;
}
.project_wrap .header_section .header_content .header_right button{
    background-color: unset;
}
.project_wrap .header_section .header_content .header_right .check_out_btn {
    height:40px;
    width:107px;
    padding:9px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background: linear-gradient(195deg, #F2B819 29.92%, #F9CF5B 109.75%), #F2B819;
    box-shadow: 0 2px 7.6px 0 rgba(0, 0, 0, 0.05);

}
.project_wrap .header_section .header_content .header_right .check_out_btn:hover{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.30) 100%), linear-gradient(195deg, #F2B819 29.92%, #F9CF5B 109.75%), #F2B819;
}
.project_wrap .header_section .header_content .header_right .check_out_btn span{
    width:22px;
    height:22px;
    background-image: url("../../image/studyEnd.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.project_wrap .header_section .header_content .header_right .check_out_btn:hover span{
    background-image: url("../../image/studyEnd_hover.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.project_wrap .header_section .header_content .header_right .check_out_btn p{
    margin-left:2px;
    color: #FFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%; /* 16px */
    letter-spacing: -0.16px;
}
.project_wrap .header_section .header_content .header_right .payment_out_btn {
    height:40px;
    width:107px;
    padding:9px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background: linear-gradient(195deg, #F2F2F2 29.92%, #F2F2F2 109.75%);
    box-shadow: 0 2px 7.6px 0 rgba(0, 0, 0, 0.05);
    margin-left:12px;

}
.project_wrap .header_section .header_content .header_right .payment_out_btn:hover{
    background: linear-gradient(247deg, #19B4F5 58.27%, #B5E9FF 105.91%), linear-gradient(195deg, #D9D9D9 29.92%, #E2E2E2 109.75%);
}
.project_wrap .header_section .header_content .header_right .payment_out_btn span{
    width:22px;
    height:22px;
    background-image: url("../../image/payment.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.project_wrap .header_section .header_content .header_right .payment_out_btn:hover span{
    background-image: url("../../image/payment_hover.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.project_wrap .header_section .header_content .header_right .payment_out_btn p{
    margin-left:2px;
    color: #A4A4A4;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%; /* 16px */
    letter-spacing: -0.16px;
}
.project_wrap .header_section .header_content .header_right .payment_out_btn:hover p{
    color: #fff;
}
.project_wrap .header_section .header_content .header_right .setting_btn {
    height:40px;
    width:78px;
    padding:9px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background: linear-gradient(195deg, #F2F2F2 29.92%, #F2F2F2 109.75%);
    box-shadow: 0 2px 7.6px 0 rgba(0, 0, 0, 0.05);
    margin-left:12px;
}
.project_wrap .header_section .header_content .header_right .setting_btn:hover{
    background: linear-gradient(195deg, #F2F2F2 29.92%, #F2F2F2 109.75%), linear-gradient(195deg, #FFF 29.92%, #E2E2E2 109.75%);
}
.project_wrap .header_section .header_content .header_right .setting_btn span{
    width:22px;
    height:22px;
    background-image: url("../../image/setting.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.project_wrap .header_section .header_content .header_right .setting_btn:hover span{
    background-image: url("../../image/setting_hover.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.project_wrap .header_section .header_content .header_right .setting_btn p{
    color: #A4A4A4;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%; /* 16px */
    letter-spacing: -0.16px;
}
.project_wrap .header_section .header_content .header_right .setting_btn:hover p{
    color: #717171;
}
.project_wrap .header_section .header_content .dropdown-setting {
    position: absolute;
    top: 100%;
    right:2%;
    width: 168px;
    height: 176px;
    background-image: url("../../image/setting_list_balloon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    padding:26px 14px 14px 18px;
    z-index: 50;
}
/* 활성화 상태 */
.project_wrap .header_section .header_content .dropdown-setting.active {
    opacity: 1;
    visibility: visible;
    animation: bounceIn 0.4s cubic-bezier(0.5, 0.3, 0.3, 1);
}
/* 통통 튀는 애니메이션*/
@keyframes bounceIn {
    0% {
      opacity: 0;
      transform: scale(0.5) translateY(-10px);
    }
    50% {
      opacity: 1;
      transform: scale(1.03) translateY(0);
    }
    75% {
      transform: scale(0.98);
    }
    100% {
      transform: scale(1);
    }
}
.project_wrap .header_section .header_content .dropdown-setting .dropdown-item{
    width:132px;
    height:30px;
    border-radius: 8px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top:2px;
    cursor: pointer;
    
}
.project_wrap .header_section .header_content .dropdown-setting .dropdown-item:hover{
    background: #F4F4F4;
    color:#3A3A3A;
}
.project_wrap .header_section .header_content .dropdown-setting .dropdown-item:first-child{
    margin-top:0px;
}
.project_wrap .header_section .header_content .dropdown-setting .dropdown-item .settingListImg{
    width:20px;
    height:20px;
    margin:0 10px 0 10px;
}
.project_wrap .header_section .header_content .dropdown-setting .dropdown-item .settingListImg1{
    background-image: url("../../image/setting_list_1.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.project_wrap .header_section .header_content .dropdown-setting .dropdown-item:hover .settingListImg1{
    background-image: url("../../image/setting_list_1_hover.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.project_wrap .header_section .header_content .dropdown-setting .dropdown-item .settingListImg2{
    background-image: url("../../image/setting_list_2.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.project_wrap .header_section .header_content .dropdown-setting .dropdown-item:hover .settingListImg2{
    background-image: url("../../image/setting_list_2_hover.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.project_wrap .header_section .header_content .dropdown-setting .dropdown-item .settingListImg3{
    background-image: url("../../image/setting_list_3.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.project_wrap .header_section .header_content .dropdown-setting .dropdown-item:hover .settingListImg3{
    background-image: url("../../image/setting_list_3_hover.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.project_wrap .header_section .header_content .dropdown-setting .dropdown-item .settingListImg4{
    background-image: url("../../image/setting_list_4.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.project_wrap .header_section .header_content .dropdown-setting .dropdown-item:hover .settingListImg4{
    background-image: url("../../image/setting_list_4_hover.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.project_wrap .header_section .header_content .dropdown-setting .dropdown-item p{
    color: #575757;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%; /* 14px */
}
.project_wrap .header_section .header_content .dropdown-setting .dropdown-item:hover p{
    color:#3A3A3A
}

/* 반응형 */

/* qhd 보다 높은 해상도 */
@media only screen and (min-width:2561px){}

/* 고해상도 */
@media only screen and (min-width: 1921px) {}

/* 커스텀 해상도 1 */
@media only screen and (max-width: 1900px) {}

/* 커스텀 해상도 2 */
@media only screen and (max-width: 1600px) {
.project_wrap .header_section .header_logo{width:310px;}
}

/* 맥북 해상도 */
@media only screen and (max-width:1480px) {
    .project_wrap .header_section .header_content .header_right > span{font-size: 12px;}
}

/* 태블릿 시작 */
@media only screen and (max-width:1439px) {
    .project_wrap .header_section .header_logo {width:290px;}
}

/* 저해상도 태블릿 */
@media only screen and (max-width:1280px) {
    .project_wrap .header_section .header_logo {width: 260px;}
    .project_wrap .header_section .header_logo img {width: 110px;}
    .project_wrap .header_section .header_content .header_right > span{display: none;}
    .project_wrap .header_section {height: 60px;}
    .project_wrap .header_section .header_content .header_right .check_out_btn {height:34px;}
    .project_wrap .header_section .header_content .header_right .check_out_btn p {font-size: 14px;}
    .project_wrap .header_section .header_content .header_right .check_out_btn span {width:18px;height:18px;margin-right: 4px;}
    .project_wrap .header_section .header_content .header_right .payment_out_btn {height:34px;}
    .project_wrap .header_section .header_content .header_right .payment_out_btn p {font-size: 14px;}
    .project_wrap .header_section .header_content .header_right .payment_out_btn span {width:18px;height:18px;margin-right: 4px;}
    .project_wrap .header_section .header_content .header_right .setting_btn {height:34px;}
    .project_wrap .header_section .header_content .header_right .setting_btn p {font-size: 14px;}
    .project_wrap .header_section .header_content .header_right .setting_btn span {width:18px;height:18px;margin-right: 4px;}
}

/* 태블릿 커스텀 해상도 1 */
@media only screen and (max-width:1150px) {}

/* 태블릿 커스텀 해상도 2 */
@media only screen and (max-width:1099px) {}

/* 아이패드 미니 */
@media only screen and (max-width:1024px) and (min-height:650px) {
    .nav-tabs > li > a {padding:10px;}
    .project_wrap .header_section .header_content .header_left .BtnArticle1 img{width:unset;max-width: unset;height:32px;}
    .project_wrap .header_section .header_content .header_left .BtnArticle2 img{width:unset;max-width: unset;height:32px;}
    .project_wrap .header_section .header_content .header_left .BtnArticle3 img{width:unset;max-width: unset;height:32px;}
    .project_wrap .header_section .header_content .header_left .BtnArticle4 img{width:unset;max-width: unset;height:32px;}
}