/* bradley 추가 시작 */
/* 상담종료 */
.advice_end.fade .modal-dialog { width:300px; margin:0; display:table; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); transition: all 0.2s ease-in-out 0s; z-index:1; background:none; }
.advice_end .modal-dialog .modal-content { width:100%; padding:20px; border:none; border-radius:20px; float:left; }
.advice_end .modal-dialog .modal-content .modal-body { padding:40px 15px 30px 15px; }
.advice_end .modal-dialog .modal-content .modal-body .notice { font-size:16px; text-align:center; }
.advice_end .modal-dialog .modal-content .modal-body .notice span.red { display:inline-block; margin-top:10px; color:red; }
.advice_end .modal-dialog .modal-content .modal-footer { border:0; }
.advice_end .modal-dialog .modal-content .modal-footer .button_box { width:100%; display:table; }
.advice_end .modal-dialog .modal-content .modal-footer .button_box button { width:calc((100% - 10px) / 2); border-radius:20px; float:left; }
.advice_end .modal-dialog .modal-content .modal-footer .button_box button.yes_btn { color:#fff; background:#1E869F; }
.advice_end .modal-dialog .modal-content .modal-footer .button_box button.no_btn { margin-left:10px; color:#1E869F; border:1px solid #1E869F; background:none; }
.advice_end .modal-dialog .modal-content .modal-footer .button_box.processing { text-align:center; }
.advice_end .modal-dialog .modal-content .modal-footer .button_box.processing button.yes_btn { float:none; }


/*비밀번호 변경*/
.updatePassword.fade .modal-dialog { width:400px; margin:0; display:table; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); transition: all 0.2s ease-in-out 0s; z-index:1; background:none; }
.updatePassword .modal-dialog .modal-content { width:100%; padding:20px; border:none; border-radius:20px; float:left; }
.updatePassword .modal-dialog .modal-content .modal-header { width:100%; display:table; }
.updatePassword .modal-dialog .modal-content .modal-header p { font-size:18px; font-weight:700; line-height:36px; float:left; }
.updatePassword .modal-dialog .modal-content .modal-header p span { color:#1E869F; }
.updatePassword .modal-dialog .modal-content .modal-header .button_box { float:right; }
.updatePassword .modal-dialog .modal-content .modal-header .button_box .close_btn { padding:0; background:none; }

.updatePassword .modal-dialog .modal-content .modal-body { padding:15px; }
.updatePassword .modal-dialog .modal-content .modal-body .form_wrap {/*margin-top:50px;*/}
.updatePassword .modal-dialog .modal-content .modal-body .form_wrap .input_wrap {margin-top:15px; display:table; width:100%;}
.updatePassword .modal-dialog .modal-content .modal-body .form_wrap .input_wrap.first {margin-top:0;}
.updatePassword .modal-dialog .modal-content .modal-body .form_wrap .input_wrap label {width:100%; font-weight:700; font-size:14px; color:#676767;}
.updatePassword .modal-dialog .modal-content .modal-body .form_wrap .input_wrap input {width:100%; height:40px; padding:15px; background:#FFFFFF; border:2px solid #B9B9B9; border-radius:8px; color:#686868; font-size:14px;}
.updatePassword .modal-dialog .modal-content .modal-body .form_wrap .input_wrap input:focus {border:2px solid #1E869F; outline:#1E869F;}
.updatePassword .modal-dialog .modal-content .modal-body .form_wrap .input_wrap input::placeholder {color:#8A8A8A;}

.updatePassword .modal-dialog .modal-content .modal-footer {border:none; display:table; padding:15px; background:#fff; position:relative; top:-1px; width:100%;}
.updatePassword .modal-dialog .modal-content .modal-footer .btn {color:#fff; text-align:center; width:calc(100% / 2 - 5px); height:40px; background:#1E869F; border-radius:8px; font-size:14px; margin:0;}
.updatePassword .modal-dialog .modal-content .modal-footer .btn:hover {background:#207b91;}
.updatePassword .modal-dialog .modal-content .modal-footer .btn:focus {outline:none;}
.updatePassword .modal-dialog .modal-content .modal-footer .btn.left_btn {margin-right:10px; background:#C9CFD8;}
.updatePassword .modal-dialog .modal-content .modal-footer .btn.left_btn:hover {background:#B2B7BE;}
/* bradley 추가 종료 */